@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    ;
    margin: 0;
}


nav {
    color: white;
    width: 100vw;
    height: 18.83vh;
    background-color: #74C69D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mostrar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    top: 19vh;
    background-color: black;
    width: 100vw;
    padding: 2vw;
    min-height: 30vh;
}

nav div {

    display: flex;
    width: 24.11%;

    justify-content: space-between;
}



nav,
header,
main {
    width: 100vw;
    padding: 0 8.33vw;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    height: 100vh;
}

main div {
    width: 45.83%;
}

div img,
video {

    width: 100%;
}

header {
    width: 100%;
    height: 45.30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    margin: 0;

    font-size: 40px;
}

h1,
header h3,
nav a,
header a {
    line-height: 125%;
}

nav h1 {

    font-weight: 500;


}

header h1 {
    font-family: 'Roboto Slab', serif;
    ;

}

header h3 {
    text-transform: uppercase;
    color: #74C69D;
    letter-spacing: 5px;

}

header p {
    font-size: 20px;
}


header a,
nav a {
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-size: 20px;
}


a:hover {
    color: #000
}




header a {

    background-color: #74C69D;

}

header,
section {
    margin-bottom: 20px;
    height: auto;
}

nav span {
    display: none;
}

/*oculto en la generalidad el menú hamburguesa*/

.icon-menu::before {

    color: white;
    font-size: 4vw;
}

span.icon-menu:hover {
    cursor: pointer;
}


.lightboxOverlay {
    background-color: gray;
}

@media(max-width: 1024px) {

    nav div {
        width: 50%;
    }

    header,
    section {
        margin-bottom: 20px;
        height: auto;
    }

}


@media (max-width: 768px) {

    nav div {
        display: none;
    }

  

    nav span {
        display: inline;
    }

    section div {
        width: 100%;
        margin-bottom: 10vh;


    }
}

nav h1 {
    color: white;
    animation-name: miMovimiento;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes miMovimiento {
    from {
        color: white;
    }

    to {
        color: black
    }
}

footer {
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #74C69D;;
}